.gallery {
        line-height: 0.5rem;
        column-gap: 0.5rem;

        column-count: var(--columns);

        --columns: 1;

        @media screen and (min-width: 950px){
            --columns: 2;
        }

        @media screen and (min-width: 1225px){
            --columns: 3;
        }

        img{
            width: 100%!important;
            height: auto!important;


        }

        > * {
            margin-bottom: 0.5rem;
            -webkit-column-break-inside: avoid;
            &:hover{
                opacity: 0.9;
            }
            > img {
                filter: blur(32px);
            }
        }
}